<div class="participacion-container">
  @for (evento of eventos; track evento.id) {
  <div class="card-content">
    <div class="card-title">
      <h3>{{ evento.nombre }}</h3>
    </div>
    <div class="card-info">
      <p><strong>ID:</strong> {{ evento.id }}</p>
      <p><strong>Fecha:</strong> {{ evento.fecha }}</p>
      <p><strong>Descripción:</strong> {{ evento.descripcion }}</p>
      <p><strong>Ubicación:</strong> {{ evento.ubicacion }}</p>
    </div>
    <button
      (click)="participar(evento.id)"
      class="participar-button"
      mat-raised-button
      color="primary"
    >
      Participar
    </button>
  </div>
  }
</div>

<!-- <div class="participacion-container">
  @if () {
  <div class="card-content">
    <div class="card-title">
      <h3>{{ evento.nombre }}</h3>
    </div>
    <div class="card-info">
      <p><strong>ID:</strong> {{ evento.id }}</p>
      <p><strong>Fecha:</strong> {{ evento.fecha }}</p>
      <p><strong>Descripción:</strong> {{ evento.descripcion }}</p>
      <p><strong>Ubicación:</strong> {{ evento.ubicacion }}</p>
    </div>
    <button
      (click)="participar(evento.id)"
      class="participar-button"
      mat-raised-button
      color="primary"
    >
      Participar
    </button>
  </div>
  }
</div> -->
