<app-nav-bar />

@if(eventoDetalle) {
<div class="participacion-container">
  <div class="card-content">
    <div class="card-title">
      <h3>{{ eventoDetalle.nombre }}</h3>
    </div>
    <div class="card-info">
      <p>
        <strong>Fecha:</strong>
        {{ eventoDetalle.fecha | date : "dd/MM/yyyy HH:mm:ss" : "GMT-3" }}
      </p>
      <p><strong>Descripción:</strong> {{ eventoDetalle.descripcion }}</p>
      <p><strong>Ubicación:</strong> {{ eventoDetalle.ubicacion }}</p>
      <p>
        <strong>Realizado:</strong> {{ eventoDetalle.realizado ? "Sí" : "No" }}
      </p>

      <h4>Asistentes</h4>
      @for(asistente of eventoDetalle.asistentes; track asistente.id) {
      <p>
        <strong>Asistente:</strong> {{ asistente.nombre }}
        {{ asistente.apellido }}
      </p>
      <p><strong>Email:</strong> {{ asistente.email }}</p>
      <p><strong>Teléfono:</strong> {{ asistente.telefono }}</p>
      <p><strong>DNI:</strong> {{ asistente.dni }}</p>
      <p>
        <strong>Confirmación:</strong>
        {{ asistente.confirmacion ? "Confirmado" : "Pendiente" }}
      </p>
      <p>
        <strong>Asistencia Real:</strong>
        {{
          asistente.asistencia_real === true
            ? "Asistió"
            : asistente.asistencia_real === false
            ? "No Asistió"
            : "No Registrado"
        }}
      </p>
      <hr />
      }
    </div>
  </div>
</div>
}
<app-footer />
