<div class="limiter">
  <div class="container-login100">
    <form
      class="form"
      (submit)="login(email.value, password.value); $event.preventDefault()"
    >
      <span class="input-span">
        <label for="email" class="label">Email</label>
        <input type="email" name="email" id="email" #email required />
      </span>
      <span class="input-span">
        <label for="password" class="label">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          #password
          required
        />
      </span>
      <span class="span">
        <a href="#">Recuperá tu contraseña</a>
      </span>
      <input class="submit" type="submit" value="Log in" />
      <span class="span">
        Registrate aquí <a (click)="irAlRegistro()">Registro</a>
      </span>
    </form>
  </div>
</div>
