<app-nav-bar />
<div>
  <div class="header">
    <h2>Listado de Asistentes General</h2>
  </div>
  <div>
    <table>
      <thead>
        <tr>
          <th>Nombre Completo</th>
          <th>Email</th>
          <th>Teléfono</th>
          <th>DNI</th>
        </tr>
      </thead>
      <tbody>
        @for (asistente of asistentes;track asistente.id){
        <tr>
          <td>{{ asistente.nombre }} {{ asistente.apellido }}</td>
          <td>{{ asistente.email }}</td>
          <td>{{ asistente.telefono }}</td>
          <td>{{ asistente.dni }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
<app-footer />
