<header>
  <div class="header-content">
    <h1>Gestión de Eventos</h1>
    <div class="botones-container">
      <button (click)="irALogin()" class="login-btn">
        <mat-icon>login</mat-icon> Login
      </button>
      <button (click)="irARegistro()" class="registro-btn">
        <mat-icon>add_circle</mat-icon> Registrarse
      </button>
    </div>
  </div>
</header>

<main>
  <section class="welcome-section">
    <h2>¡Bienvenido a la Plataforma de Gestión de Eventos!</h2>
    <p>
      Aquí podrás organizar, gestionar y asistir a tus eventos de manera fácil y
      rápida.
    </p>
  </section>
  <p class="credito">Hecho por Leonel Toloza - 2024</p>
</main>
