<header>
  <div class="header-content">
    <h1>Gestión de Eventos</h1>
  </div>
</header>

<main>
  <section class="welcome-section">
    <h2>¡Bienvenido a la Plataforma de Gestión de Eventos!</h2>
    <p>
      Aquí podrás organizar, gestionar y asistir a tus eventos de manera fácil y
      rápida.
    </p>
  </section>

  <section class="cards-container">
    <div class="card">
      <h3>Login de Usuarios</h3>
      <p>
        Accede como usuario para gestionar tus eventos y participar en ellos.
      </p>
      <button (click)="irALogin('usuario')" class="card-btn">
        <mat-icon>person</mat-icon> Entrar como Usuario
      </button>
    </div>

    <div class="card">
      <h3>Login de Asistentes</h3>
      <p>
        Accede como asistente para ver y participar en los eventos disponibles.
      </p>
      <button (click)="irALogin('asistente')" class="card-btn">
        <mat-icon>group</mat-icon> Entrar como Asistente
      </button>
    </div>
  </section>

  <p class="credito">Hecho por Leonel Toloza - 2024</p>
</main>
