<app-nav-bar />
<div>
  <div class="header">
    <h2>Listado de eventos</h2>
    <button
      mat-raised-button
      color="primary"
      (click)="agregarEvento()"
      class="add-button"
    >
      <span class="material-symbols-outlined"> add_circle </span>
      Agregar nuevo evento
    </button>
  </div>
  <div>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Fecha</th>
          <th>Descripcion</th>
          <th>Ubicación</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let evento of eventos">
          <td>
            <ng-container
              *ngIf="eventoEditando?.id === evento.id; else staticName"
            >
              <input
                class="input-editar"
                [(ngModel)]="eventoEditando!.nombre"
              />
            </ng-container>
            <ng-template #staticName>{{ evento.nombre }}</ng-template>
          </td>
          <td>
            <ng-container
              *ngIf="eventoEditando?.id === evento.id; else staticDate"
            >
              <input
                class="input-editar"
                [(ngModel)]="eventoEditando!.fecha"
                type="date"
              />
            </ng-container>
            <ng-template #staticDate>{{
              evento.fecha | date : "medium"
            }}</ng-template>
          </td>
          <td>
            <ng-container
              *ngIf="eventoEditando?.id === evento.id; else staticDescription"
            >
              <input
                class="input-editar"
                [(ngModel)]="eventoEditando!.descripcion"
              />
            </ng-container>
            <ng-template #staticDescription>{{
              evento.descripcion
            }}</ng-template>
          </td>
          <td>
            <ng-container
              *ngIf="eventoEditando?.id === evento.id; else staticLocation"
            >
              <input
                class="input-editar"
                [(ngModel)]="eventoEditando!.ubicacion"
              />
            </ng-container>
            <ng-template #staticLocation>{{ evento.ubicacion }}</ng-template>
          </td>
          <td>
            <ng-container
              *ngIf="eventoEditando?.id === evento.id; else staticActions"
            >
              <button class="editar" (click)="guardarEvento()">Guardar</button>
              <button class="eliminar" (click)="cancelarEdicion()">
                Cancelar
              </button>
            </ng-container>
            <ng-template #staticActions>
              <button class="editar" (click)="editarEvento(evento.id || 0)">
                Editar
              </button>
              <button
                class="eliminar"
                (click)="marcarEventoComoRealizado(evento.id || 0)"
              >
                Eliminar
              </button>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-footer />
