<app-nav-bar />
<div>
  <div class="header">
    <h2>Listado de eventos</h2>
    <button
      mat-raised-button
      color="primary"
      (click)="agregarEvento()"
      class="add-button"
    >
      <span class="material-symbols-outlined"> add_circle </span>
      Agregar nuevo evento
    </button>
  </div>
  <div>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Fecha</th>
          <th>Descripcion</th>
          <th>Ubicación</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (evento of eventos; track evento.id) {
        <tr>
          <td>
            @if (eventoEditando?.id === evento.id) {
            <input class="input-editar" [(ngModel)]="eventoEditando!.nombre" />
            } @else {
            {{ evento.nombre }}
            }
          </td>
          <td>
            @if (eventoEditando?.id === evento.id) {
            <input
              class="input-editar"
              [(ngModel)]="eventoEditando!.fecha"
              [value]="eventoEditando?.fecha | date : 'yyyy-MM-dd'"
              type="date"
            />
            } @else {
            {{ evento.fecha | date : "medium" }}
            }
          </td>
          <td>
            @if (eventoEditando?.id === evento.id) {
            <input
              class="input-editar"
              [(ngModel)]="eventoEditando!.descripcion"
            />
            } @else {
            {{ evento.descripcion }}
            }
          </td>
          <td>
            @if (eventoEditando?.id === evento.id) {
            <input
              class="input-editar"
              [(ngModel)]="eventoEditando!.ubicacion"
            />
            } @else {
            {{ evento.ubicacion }}
            }
          </td>
          <td>
            @if (eventoEditando?.id === evento.id) {
            <button class="editar" (click)="guardarEvento()">Guardar</button>
            <button class="eliminar" (click)="cancelarEdicion()">
              Cancelar
            </button>
            } @else {
            <button class="editar" (click)="editarEvento(evento.id || 0)">
              Editar
            </button>
            <button
              class="eliminar"
              (click)="marcarEventoComoRealizado(evento.id || 0)"
            >
              Eliminar
            </button>
            }
            <button class="eliminar" (click)="VerAsistentes(evento.id || 0)">
              Ver Asistentes
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
<app-footer />
