<footer>
  <div>
    <div>
      <p>
        <a href="https://github.com/LeoToloza1/frontend_eventos" target="_blank"
          >Repositorio de GitHub</a
        >
        <img
          width="30"
          height="30"
          src="https://img.icons8.com/ios-glyphs/30/github.png"
          alt="github"
        />
      </p>
    </div>
  </div>
  <div>
    <p>© 2024 Gestión de Eventos. Todos los derechos reservados.</p>
  </div>
  <div>
    <p>
      Desarrollado por
      <a href="https://www.linkedin.com/in/leonel-toloza/" target="_blank"
        >Leonel Toloza
        <img
          width="30"
          height="30"
          src="https://img.icons8.com/ios-filled/100/linkedin.png"
          alt="linkedin"
        />
      </a>
    </p>
  </div>
</footer>
