footer {
  background-color: #222;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 15%;
}
footer > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
footer a {
  color: #007bff;
  text-decoration: none;
}
.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #333;
}
footer img {
  margin-left: 5px;
}

/* @media (max-width: 768px) {
  footer {
    font-size: 12px;
  }
} */
