<mat-toolbar color="primary" class="navbar">
  <span>Gestión de Eventos</span>
  <span class="navbar-links">
    <button mat-button (click)="navigateTo('/eventos')">Eventos</button>
    <button mat-button (click)="navigateTo('/asistentes')">Asistentes</button>
    <button mat-button (click)="navigateTo('/participacion')">
      Participación
    </button>
    <button mat-button (click)="navigateTo('/perfil')">Perfil</button>
  </span>
  <span class="navbar-welcome">
    <span class="spacer">
      <div *ngIf="usuario">Bienvenido, {{ usuario }}</div>
      <button mat-button (click)="navigateTo('/logout')">Cerrar Sesión</button>
    </span>
  </span>
</mat-toolbar>
